.scroll-pane .viewport {
    -fx-background-image: url('../assets/misc/sfondo_parquet.png');
    -fx-background-repeat: stretch;
    -fx-background-size: 2000 1306.0;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}